
.img-div {
    flex: 1;
}
.h1-name {
    color: white;
}
.search-div {
    display: flex;
    margin-right: 500px;
    margin-top: 5px;
    align-items: center;
}
.logo-img {
    height: 40px;
    margin-top: 17px;
    margin-left: 35px;
}

@media  (min-width: 320px) {
    .h1-name {
        display: none;
    }
    .st_ {
        width: 320px;
    }
}