@media (max-width: 375px) {
    .paper {
        display: flex;
    }
    Paper {
        width: 50px;
        border-Radius: 10px;
        border: 1px solid #e3e3e3;
        /* pl: 2; */
        box-Shadow: none;
    }
}